{% extends 'base.html' %}

{%block title%}

{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <h2>{{ product }}</h2>
        </thead>
        <tbody>
        <tr>

            <td>
                {% if product.image %}

                 <img src='/media/{{ product.image }}' class="img-responsive">
                {% endif %}
                {{ product.description }}
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    SKU: {{ product.sku }}
                </p>
                <p>
                    {{ product.inventory }} left!
                </p>
            </td>
            <td>
                {{ product.price }}kr
                <a href="add" class="btn btn-success" role="button">Add to Cart</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
